<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.mapper.CampMapper">	
	
	<select id="selectCampByCampNo" 
			parameterType="int" resultType="com.camp.vo.Camp">
		select 
			CAMPNO,
			CAMPNAME,
			CONTENT,
			PRICE,
			CATEGORY,
			MEMBERID
		from CAMP
		where CAMPNO = #{ campNo }
	</select>
	
	<select id="selectCampFilesByCampNo" parameterType="int" resultType="com.camp.vo.CampFile">
		SELECT CAMPFILENO, SAVEDFILENAME, USERFILENAME, CAMPNO
		FROM CAMPFILE
		WHERE CAMPNO = #{ campNo }
	</select>
	
	<select id="getCampList"
		parameterType="hashmap" resultType="com.camp.vo.Camp">
		SELECT *
		FROM CAMP
	</select>
	<select id="getCampKind"
		parameterType="hashmap" resultType="com.camp.vo.Camp">
		SELECT *
		FROM CAMP
		WHERE category = #{category}
	</select>
	
	<insert id="insertCamp" parameterType="com.camp.vo.Camp"
			useGeneratedKeys="true" keyColumn="campNo" keyProperty="campNo">
		INSERT INTO CAMP (CAMPNAME, CONTENT, PRICE, CATEGORY, MEMBERID)
		VALUES (#{campName}, #{content}, #{price}, #{category}, #{memberId})
	</insert>
	
	<insert id="insertCampFile" parameterType="com.camp.vo.CampFile">
		INSERT INTO CAMPFILE (CAMPNO, SAVEDFILENAME, USERFILENAME, FLAG)
		VALUES (#{campNo}, #{savedFileName}, #{userFileName}, #{flag})
	</insert>
	
	<select id="selectCampFile" parameterType="int" resultType="com.camp.vo.CampFile">
		SELECT CAMPFILENO, CAMPNO, SAVEDFILENAME, FLAG
		FROM CAMPFILE
		where campNo = #{ campNo }
		and flag = 1
	</select>
	
	<!-- <delete id="deleteBoard" parameterType="int">
		UPDATE t_board
		SET
			deleted_yn = 'y',
			updated_datetime = NOW(),
			updater_id = 'current_user'
		WHERE
			board_idx = #{ boardIdx }
	</delete>
	
	<update id="updateBoard" parameterType="com.springdemo.bootboard.vo.Board">
		UPDATE t_board
		SET
			title = #{ title },
			contents = #{ contents },
			updated_datetime = NOW(),
			updater_id = 'current_user'
		WHERE
			board_idx = #{ boardIdx }
	</update>
	
	*************************************************
	
	<insert id="insertBoardFileList" 
			parameterType="com.springdemo.bootboard.vo.BoardFile">
		INSERT INTO t_file
		(
			board_idx,
			original_file_name,
			stored_file_path,
			file_size,
			creator_id,
			created_datetime
		)
		VALUES
		<foreach collection="list" item="item" separator=",">
		(
			#{ item.boardIdx },
			#{ item.originalFileName },
			#{ item.storedFilePath },
			#{ item.fileSize },
			#{ item.creatorId },
			NOW()
		)
		</foreach>
	</insert> -->
	
</mapper>

