<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.mapper.MemberMapper">

	<sql id="memberColumns">SELECT memberId, pwd, name, phone, addr1, addr2, addr3, type, email, regDate</sql>

	<!-- 회원가입  -->
	<insert id="registerMember" 
			parameterType="com.camp.vo.Member">
		INSERT INTO MEMBER ( MEMBERID, PWD, NAME, PHONE, EMAIL, ADDR1, ADDR2, ADDR3 )
		VALUES ( #{ memberId }, #{ pwd }, #{ name }, #{ phone }, #{ email }, #{ addr1 }, #{ addr2 }, #{ addr3 } )	
	</insert>
	
	<!-- 아이디 중복 확인 -->
	<select id="idCheck" resultType="com.camp.vo.Member">
		SELECT MEMBERID
		FROM MEMBER
		WHERE MEMBERID = #{ memberId }
	</select>
	
	<!-- 로그인 -->
	<select id="loginMember"
	   parameterType="hashmap" resultType="com.camp.vo.Member">
	<include refid="memberColumns"/>
	   FROM MEMBER
	   WHERE MEMBERID = #{ memberId } AND PWD = #{ pwd }
	</select>
	
	<select id="getMemberById" resultType="com.camp.vo.Member">
	<include refid="memberColumns"/>
		FROM MEMBER
		WHERE MEMBERID = #{ memberId }
	</select>
   
   <!-- 아이디 찾기 -->
   <select id="idfind" parameterType="String" resultType="String">
      SELECT MEMBERID
      FROM MEMBER
      WHERE EMAIL = #{ email }
   </select>

    <update id="updateMember" parameterType="com.camp.vo.Member">
		UPDATE MEMBER
		SET PWD = #{ pwd }
		WHERE MEMBERID = #{ memberId }
	</update>
	
 	<!-- 주문 페이지 -->	
    <select id="orderList" resultType="com.camp.vo.Rental">	
		SELECT R.RENTNO, R.MEMBERID, R.STARTDATE, R.ENDDATE, C.CAMPNAME, C.CATEGORY, C.PRICE, R.CAMPNO
		FROM RENTAL R, CAMP C
		WHERE R.CAMPNO = C.CAMPNO AND R.MEMBERID = #{ memberId }
		GROUP BY R.RENTNO
	</select> 
	
    <select id="orderLists" resultType="com.camp.vo.Buy">	
		SELECT B.MEMBERID, B.BUYDATE, B.ADDR1, B.ADDR2, B.ADDR3, P.PRODUCTNAME, P.CATEGORY, P.PRICE, P.PRODUCTNO
		FROM PRODUCT P, BUY B
		WHERE P.PRODUCTNO = B.PRODUCTNO AND B.MEMBERID = #{ memberId }
		GROUP BY B.BUYDATE
	</select>	
	
	<!-- 관리자 페이지 -->
	<select id="getList" resultType="com.camp.vo.Member">
	<include refid="memberColumns"/>
		FROM MEMBER
	</select>
	
	<!-- 레포팅 -->
		<!-- 캠핑장 -->
	<select id="reporting" resultType="com.camp.vo.Rental">
		SELECT C.CAMPNAME, COUNT(*) AS RESERVE
		FROM RENTAL R, CAMP C
		WHERE R.CAMPNO = C.CAMPNO
		GROUP BY C.CAMPNAME
		ORDER BY RESERVE ASC
	</select>
	
		<!-- 캠핑용품 -->
	<select id="reportings" resultType="com.camp.vo.Buy">	
		SELECT P.PRODUCTNAME, COUNT(*) AS SELL
		FROM PRODUCT P, BUY B
		WHERE P.PRODUCTNO = B.PRODUCTNO
		GROUP BY P.PRODUCTNO
		ORDER BY SELL ASC
	</select>	
	
	<!-- 질문/답변 -->
	<select id="qaList" resultType="com.camp.vo.QnA">	
		SELECT TITLE, MEMBERID, REGDATE, COMPLETED AS NOANSWER, QANO
		FROM QA
		WHERE COMPLETED = '0';
	</select>
</mapper>



 











