<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.mapper.ProductMapper">

	<select id="getProductList"
			parameterType="hashmap" resultType="com.camp.vo.Product">
			SELECT *
			FROM PRODUCT
	</select>
	
	<select id="selectProductByProductNo"
			parameterType="int" resultType="com.camp.vo.Product">
			SELECT PRODUCTNO, NAME, CONTENT, PRICE, CATEGORY, MEMBERID
			FROM PRODUCT
			WHERE PRODUCTNO = #{ productNo }
	</select>
	
	<select id="selectProductFilesByProductNo"
			parameterType="int" resultType="com.camp.vo.ProductFile">
			SELECT PRODUCTFILENO, SAVEDFILENAME, USERFILENAME, PRODUCTNO
			FROM PRODUCTFILE
			WHERE PRODUCTNO = #{ productNo }
	
	</select>

	
	<!-- <select id="selectCampByCampNo" 
			parameterType="int" resultType="com.camp.vo.Camp">
		select 
			CAMPNO,
			CAMPNAME,
			CONTENT,
			PRICE,
			CATEGORY,
			MEMBERID
		from CAMP
		where CAMPNO = #{ CAMPNO }
	</select>
	
	<select id="selectCampFilesByCampNo" parameterType="int" resultType="com.camp.vo.CampFile">
		SELECT CAMPFILENO, SAVEDFILENAME, USERFILENAME, CAMPNO
		FROM CAMPFILE
		WHERE CAMPNO = #{ CAMPNO }
	</select>
	
	
	<select id="getCampKind"
		parameterType="hashmap" resultType="com.camp.vo.Camp">
		SELECT *
		FROM CAMP
		WHERE category = #{category}
	</select>
	 -->
	
	
</mapper>

