<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.camp.mapper.QnAMapper">
	
	
	<insert id="uploadQnA" parameterType="com.camp.vo.QnA" 
			useGeneratedKeys="true" keyProperty="qaNo">
		INSERT INTO QA ( MEMBERID, TITLE, CONTENT, WRITERTYPE, LOCKCHECK )
		VALUES (#{ memberId }, #{ title }, #{ content }, #{ writerType }, #{ lockCheck })
	
	</insert>
	
	<!-- 목록조회  -->
	<select id="selectQnA" resultType="com.camp.vo.QnA">
	
		SELECT QANO, TITLE, CONTENT, REGDATE, MEMBERID, COMPLETED, LOCKCHECK
		FROM QA
		WHERE DELETED = '0' AND WRITERTYPE ="0"
		ORDER BY QANO DESC
		
	</select>
	
	<select id="findAnnounce" resultType="com.camp.vo.QnA">
		SELECT 
			Q.QANO, Q.TITLE, Q.CONTENT, Q.REGDATE, Q.MEMBERID, Q.COMPLETED
		FROM 
			QA as Q
		JOIN 
			MEMBER as M
		ON 
			Q.MEMBERID = M.MEMBERID
		WHERE 
			M.TYPE = 'admin' AND Q.DELETED = "0"		
		ORDER BY Q.QANO DESC

	</select>
	
	<!-- 삭제  -->
	<update id="deleteQnA" parameterType="int">
		UPDATE QA
		SET DELETED ='1' 
		WHERE QANO = #{ qaNo }
	</update>
	
	<!-- detail -->
	<select id="selectQnABoardByIdx" parameterType="int" resultType="com.camp.vo.QnA">
		SELECT
			Q.QANO,
			Q.TITLE,
			Q.CONTENT,
			Q.REGDATE,
			Q.MEMBERID,
			Q.COMPLETED,
			Q.LOCKCHECK,
			A.COMMENTNO,
			A.COMMENT,
			A.REGDATE
		FROM 
			QA Q
		LEFT OUTER JOIN 
			QACOMMENT A
		ON 
			Q.QANO = A.QANO
		WHERE
			Q.QANO = #{ qaNo }
			AND
			Q.DELETED = '0'
		ORDER BY
			Q.QANO DESC 
	
	</select>

	<!-- ###########################  -->
	<insert id="insertQnAComment" parameterType="com.camp.vo.QnAComment" 
			useGeneratedKeys="true" keyProperty="commentNo">
		INSERT INTO QACOMMENT (QANO, COMMENT)
		VALUES (#{ qaNo }, #{ comment } )	
	</insert>
	
	<update id="setCompleted" parameterType="int">
		UPDATE QA
		SET COMPLETED ='1' 
		WHERE QANO = #{ qaNo }
	</update>
	
	<select id="selectComment" parameterType="int" resultType="com.camp.vo.QnAComment" >
		SELECT QANO, COMMENTNO, COMMENT, REGDATE
		FROM QACOMMENT
		WHERE QANO = #{ qaNo }
	</select>
	
	<delete id="dropQnAComment" parameterType="int">
		DELETE FROM QACOMMENT WHERE QANO = #{ commentVal }		
	</delete>
	<update id="setDecompleted" parameterType="int">
		UPDATE QA
		SET COMPLETED ='0' 
		WHERE QANO = #{ commentVal }
	</update>
	
	
	<!-- -->
	<select id="getSearchValue" resultType="com.camp.vo.QnA">
		SELECT * 
		FROM QA
		WHERE DELETED = '0' AND WRITERTYPE ='0'
		ORDER BY QANO DESC
	
	</select>
	
	<sql id ="filter">
		<choose>
			<when test="completed == 'true'">
				(COMPLETED = '1')
			</when>
			<when test="completed == 'false'">
				(COMPLETED = '0')
			</when>
			<otherwise>
				(COMPLETED = '1' OR
				COMPLETED = '0')
			</otherwise>
		</choose>
	</sql>
	
	
	<select id="getComment" resultType="com.camp.vo.QnAComment">
		SELECT *
		FROM QACOMMENT
		
		ORDER BY QANO DESC	
	</select>
	
	
	<!-- ############### -->
	
	<insert id="answerQuestion" useGeneratedKeys="true" keyProperty="commentNo">
		INSERT INTO QACOMMENT (QANO, COMMENT)
		VALUES (#{ qaNo }, #{ answerText } )	
	</insert>
	
	
	<update id="updateAnnounce" parameterType="com.camp.vo.QnA">
		UPDATE QA
		SET 
			TITLE = #{ title }, 
			CONTENT = #{ content }
		WHERE 
			QANO = #{ qaNo }	
	</update>

	
</mapper>















