<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.camp.mapper.RentMapper">

	<select id="selectRentsByCampNo" parameterType="int" resultType="com.camp.vo.Rent">
		SELECT STARTDATE, ENDDATE, CAMPNO 
		FROM RENT 
		WHERE CAMPNO = #{ campNo }
	</select>
	
</mapper>